{{#section 'css'}}
<link rel="stylesheet" href="style/css/bloggers.css">
{{/section}}

<!--
{{#each bloggers}}
    <img src="{{this.displayPictureUrl}}" alt="{{this.firstName}} {{this.lastName}} Display Picture"/>
    <h2>{{this.firstName}} {{this.lastName}}</h2>
    <i><a href="mailto:{{this.emailAddress}}">{{this.emailAddress}}</a></i>
    <p>{{this.bio}}</p>
    <p>Blog Feed: {{this.feedUrl}}</p>
    <p>Blog Site: {{this.blogWebsiteUrl}}</p>
    <p>Website: {{this.websiteUrl}}</p>
    <p><a href="http://github.com/{{this.githubProfile}}">Github/{{this.githubProfile}}</a></p>
    <p><a href="http://twitter.com/{{this.twitterProfile}}">@{{this.twitterProfile}}</a></p>
    <p>Linkedin name: {{this.linkedInProfile}}</p>
{{/each}}
-->

{{#each bloggers}}
<section>
    <div class="avatar" style="background-image: url('{{displayPictureUrl}}');"></div>
    <div class="blogger-info">
        <h2>{{firstName}} {{this.lastName}}</h2>
        <p>{{bio}}</p>
    </div>
</section>
{{/each}}
