{{#each content.posts}}
    <article>
        <div class="article-info">
            <div class="avatar"></div>
            <p class="article-author">{{name}}</p>
            <p class="article-date">{{date}}</p>
        </div>
        <header>{{title}}</header>
        <img src="{{img}}"/>
        <p>{{{description}}}</p>
        <hr/>
    </article>
{{/each}}