{{#each content.posts}}
    <article>
        <h1>{{title}}</h1>
        <img src="{{img}}"/>
        <p>{{{description}}}</p>
     <h6>
    	Author: <a href="http://{{site}}" target="_blank">{{name}}</a>
    </h6>
    <hr/>
    </article>
{{/each}}