{{#section 'css'}}
<link rel="stylesheet" href="/style/css/blogs.css">
{{/section}}

<div id="space-saver"></div>
{{#each content.posts}}
    <article>
        <header>
            <h2><a href="{{link}}">{{title}}</a></h2>
        </header>
        {{#if image}}<img src="{{image}}" alt="Featured Image"/>{{/if}}
        <p>{{{description}}}</p>
        <footer>
            <div class="article-info">
                <a class="avatar" href="{{site}}" style="background-image: url('{{avatar}}');"></a>
                <a class="article-author" href="{{site}}">{{author}}</a><br/>
                <p class="article-date">{{formatDateShort date}}</p>
            </div>
        </footer>
        {{#unless @last}}<hr/>{{/unless}}
    </article>
{{/each}}
<div id="nav-pages">
    <a id="older" class="page-btn" href="#">Older</a>
    <a id="newer" class="page-btn" href="#">Newer</a>
</div>