{{#section 'css'}}
<link rel="stylesheet" href="/style/css/bloggers.css">
{{/section}}

{{#section 'meta'}}
<meta name="description" content="Computer Science Blogs is the feed aggregation service for the writings of Computer Science students, academics, researchers and those in industry listed here."/>
<meta property="og:title" content="List of Computer Science Bloggers"/>
<meta property="og:description" content="Computer Science Blogs is the feed aggregation service for the writings of Computer Science students, academics, researchers and those in industry listed here."/>
{{/section}}

<ul>
    {{#each bloggers}}
    <li itemscope itemprop="author" itemtype="https://schema.org/Person">
        <a class="avatar" href="/bloggers/{{vanityUrl}}" itemprop="sameAs">
            <img class="avatar" src="{{avatarUrl}}" alt="Avatar" itemprop="image"/>
        </a>
        <h2><span itemprop="givenName">{{firstName}}</span> <span itemprop="familyName">{{lastName}}</span></h2>
        <a href="{{websiteUrl}}" itemprop="url">{{urlFormat websiteUrl}}</a>
    </li>
    {{/each}}
</ul>
