{{#each content.posts}}
    <article>
        <header>
            <a href="{{link}}">{{title}}</a>
        </header>
        <img src="{{image}}"/>
        <p>{{{description}}}</p>
        <footer>
            <div class="article-info">
                <div class="avatar" style="background-image: url('{{avatar}}');"></div>
                <a class="article-author" href="{{site}}">{{author}}</a><br/>
                <p class="article-date">{{dateFormat date}}</p>
            </div>
        </footer>
        {{#unless @last}}<hr/>{{/unless}}
    </article>
{{/each}}