{{#section 'css'}}
<link rel="stylesheet" href="/style/css/blogs.css">
{{/section}}

<div id="space-saver"></div>
{{#each content}}
    <article>
        <header>
            <h2><a href="{{link}}">{{title}}</a></h2>
        </header>
        {{#if imageUrl}}<img src="{{imageUrl}}" alt="Featured Image"/>{{/if}}
        <p>{{{summary}}}</p>
        <footer>
            <div class="article-info">
                <a class="avatar" href="/bloggers/{{author.vanityUrl}}" style="background-image: url('{{author.avatarUrl}}');"></a>
                <a class="article-author" href="/bloggers/{{author.vanityUrl}}">{{author.firstName}} {{author.lastName}}</a>
                <p class="article-date">{{formatDateShort pubDate}}</p>
            </div>
        </footer>
        {{#unless @last}}<hr/>{{/unless}}
    </article>
{{/each}}
<div id="nav-pages">
    {{#if hasLess}}
    <a id="newer" class="page-btn" href="/?page={{add page -1}}">
        <svg viewbox="0 0 37.62 67.32">
            <use xlink:href="/images/defs.svg#left-arrow"></use>
        </svg>
        <p>Newer</p>
    </a>
    {{/if}}
    {{#if hasMore}}
    <a id="older" class="page-btn" href="/?page={{add page 1}}">
        <p>Older</p>
        <svg viewbox="0 0 37.62 67.32">
            <use xlink:href="/images/defs.svg#right-arrow"></use>
        </svg>
    </a>
    {{/if}}
</div>