{{#section 'css'}}
<link rel="stylesheet" href="/style/css/bloggers.css">
{{/section}}

<ul>
    {{#each bloggers}}
    <li>
        <a class="avatar" href="/bloggers/{{vanityUrl}}" style="background-image: url('{{avatarUrl}}');"></a>
        <h2>{{firstName}} {{lastName}}</h2>
        <a href="{{websiteUrl}}">{{urlFormat websiteUrl}}</a>
    </li>
    {{/each}}
</ul>
