{{#section 'css'}}
<link rel="stylesheet" href="style/css/profile.css">
{{/section}}

<div class="avatar" style="background-image: url('{{avatarUrl}}');"></div>

<p>first Name: {{firstName}}</p>
<p>last Name: {{lastName}}</p>
<p>email Address: {{emailAddress}}</p>
<p>feed URL: {{feedUrl}}</p>
<p>blog URL: {{blogWebsiteUrl}}</p>
<p>website URL: {{webisteUrl}}</p>
<p>cv URL: {{cvUrl}}</p>
<p>github URL: {{githubProfile}}</p>
<p>twitter URL: {{twitterProfile}}</p>
<p>linkedIn URL: {{linkedInProfile}}</p>
<p>bio: {{bio}}</p>
<p>validated: {{validated}}</p>
<p>vanityUrl: {{vanityUrl}}</p>
