{{#section 'css'}}
<link rel="stylesheet" href="/style/css/profile.css">
{{/section}}

<!--
<p>first Name: {{user.firstName}}</p>
<p>last Name: {{user.lastName}}</p>
<p>email Address: {{user.emailAddress}}</p>
<p>feed URL: {{user.feedUrl}}</p>
<p>blog URL: {{user.blogWebsiteUrl}}</p>
<p>website URL: {{user.webisteUrl}}</p>
<p>cv URL: {{user.cvUrl}}</p>
<p>github URL: {{user.githubProfile}}</p>
<p>twitter URL: {{user.twitterProfile}}</p>
<p>linkedIn URL: {{user.linkedInProfile}}</p>
<p>bio: {{user.bio}}</p>
<p>validated: {{user.validated}}</p>
<p>vanityUrl: {{user.vanityUrl}}</p>
-->

<div>
    <div id="profile-header">
        <div id="profile-header-content">
            <div class="avatar" style="background-image: url('{{blogger.avatarUrl}}');"></div>
            <div id="profile-header-title">
                <ul>
                    <li><h2>{{blogger.firstName}} {{blogger.lastName}}</h2></li>
                    <li><a id="ph-site" href="{{blogger.websiteUrl}}">{{urlFormat blogger.websiteUrl}}</a></li>
                    <li><!--<p id="ph-orgs">Member of <em>University of Hull</em></p>--></li>
                    {{#ifEqualBlogger user blogger}}
                    <li id="edit-li">
                        <a id="edit-btn-small" href="/account">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 24 24" version="1.1">
                                <use xlink:href="/images/defs.svg#icon-edit"></use>
                            </svg>
                            <p>Edit Profile</p>
                        </a>
                    </li>
                    {{/ifEqualBlogger}}
                </ul>
            </div>

            {{#ifEqualBlogger user blogger}}
            <a id="edit-btn-wide" href="/account">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 24 24" version="1.1">
                    <use xlink:href="/images/defs.svg#icon-edit"></use>
                </svg>
                <p>Edit Profile</p>
            </a>
            {{/ifEqualBlogger}}
        </div>
    </div>
    <div id="profile-body">
        {{#ifEqualBlogger user blogger}}{{#unless user.validated}}
        <div class="alert-box alert-info">
            <p>Your profile will be validated by a moderator before it can be seen by the public. An email will be sent to you when this has been done.</p>
        </div>
        {{/unless}}{{/ifEqualBlogger}}
        <h3>About</h3>
        <p>{{blogger.bio}}</p>
        <div>
            {{#if blogger.githubProfile}}
            <a class="button" href="http://github.com/{{blogger.githubProfile}}">
                <div class="button-bg"></div>
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 42 42" version="1.1">
                    <use xlink:href="/images/defs.svg#icon-github"></use>
                </svg>
                <p>GitHub</p>
            </a>
            {{/if}}
            {{#if blogger.twitterProfile}}
            <a class="button" href="http://twitter.com/{{blogger.twitterProfile}}">
                <div class="button-bg"></div>
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 42 42" version="1.1">
                    <use xlink:href="/images/defs.svg#icon-twitter"></use>
                </svg>
                <p>Twitter</p>
            </a>
            {{/if}}
            {{#if blogger.linkedInProfile}}
            <a class="button" href="http://linkedin.com/in/{{blogger.linkedInProfile}}">
                <div class="button-bg"></div>
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 42 42" version="1.1">
                    <use xlink:href="/images/defs.svg#icon-linkedin"></use>
                </svg>
                <p>LinkedIn</p>
            </a>
            {{/if}}
            {{#if blogger.cvUrl}}
            <a class="button" href="{{blogger.cvUrl}}">
                <div class="button-bg"></div>
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 42 42" version="1.1">
                    <use xlink:href="/images/defs.svg#icon-cv"></use>
                </svg>
                <p>CV</p>
            </a>
            {{/if}}
        </div>
        <h3>Blog posts</h3>

        {{#if page.blogs}}
        {{#each page.blogs}}
        <article>
            <h4><a href="{{link}}">{{title}}</a></h4>
            <p class="article-date">{{formatDateLong pubDate}}</p>
            {{#if imageUrl}}<img src="{{imageUrl}}" alt="Featured Image"/>{{/if}}
            <p>{{{truncateAndRemoveHTML summary 400}}} <a class="read-more" href="{{link}}">Read more &#8594;</a></p>
            {{#unless @last}}<hr/>{{/unless}}
        </article>
        {{/each}}
        {{else}}
        <p>Blog posts will appear here on the next sync if there are any to view.</p>
        {{/if}}

        <div id="nav-pages">
            {{#if page.hasLess}}
            <a id="newer" class="page-btn" href="{{url}}page={{add page.pageNumber -1}}">
                <svg viewbox="0 0 37.62 67.32">
                    <use xlink:href="/images/defs.svg#left-arrow"></use>
                </svg>
                <p>Newer</p>
            </a>
            {{/if}}
            {{#if page.hasMore}}
            <a id="older" class="page-btn" href="{{url}}page={{add page.pageNumber 1}}">
                <p>Older</p>
                <svg viewbox="0 0 37.62 67.32">
                    <use xlink:href="/images/defs.svg#right-arrow"></use>
                </svg>
            </a>
            {{/if}}
        </div>
    </div>
</div>
