{{#section 'css'}}
<link rel="stylesheet" href="/style/css/profile.css">
{{/section}}

{{#section 'meta'}}
<meta name="author" content="{{blogger.firstName}} {{blogger.lastName}}"/>
<meta name="description" content="The Computer Science Blogs profile of {{blogger.firstName}} {{blogger.lastName}}"/>
<meta property="og:title"  content="The Computer Science Blogs profile of {{blogger.firstName}} {{blogger.lastName}}" /> 
<meta property="og:site_name" content="Computer Science Blogs"/>
<meta property="og:type"   content="profile"/> 
<meta property="og:locale" content="en_GB"/>
<meta property="og:image"  content="{{blogger.avatarUrl}}" /> 
<meta property="profile:first_name" content="{{blogger.firstName}}"/>
<meta property="profile:last_name" content="{{blogger.lastName}}"/>
<meta property="profile:username" content="{{blogger.vanityUrl}}"/>
{{/section}}

<div>
	<div itemscope itemtype="https://schema.org/Person">
	    <div id="profile-header">
	        <div id="profile-header-content">
	            <img class="avatar" src="{{blogger.avatarUrl}}" alt="Avatar" itemprop="image"/>
	            <div id="profile-header-title">
	                <ul>
	                    <li><h2><span itemprop="givenName">{{blogger.firstName}}</span> <span itemprop="familyName">{{blogger.lastName}}</span></h2></li>
	                    <li><a id="ph-site" href="{{blogger.websiteUrl}}" itemprop="url">{{urlFormat blogger.websiteUrl}}</a></li>
	                    {{#ifEqualBlogger user blogger}}
	                    <li id="edit-li">
	                        <a id="edit-btn-small" href="/account">
	                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 24 24" version="1.1">
	                                <use xlink:href="/images/defs.svg#icon-edit"></use>
	                            </svg>
	                            <p>Edit Profile</p>
	                        </a>
	                    </li>
	                    {{/ifEqualBlogger}}
	                </ul>
	            </div>

	            {{#ifEqualBlogger user blogger}}
	            <a id="edit-btn-wide" href="/account">
	                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 24 24" version="1.1">
	                    <use xlink:href="/images/defs.svg#icon-edit"></use>
	                </svg>
	                <p>Edit Profile</p>
	            </a>
	            {{/ifEqualBlogger}}
	        </div>
	    </div>
	    <div class="profile-body">
	        {{#ifEqualBlogger user blogger}}{{#unless user.validated}}
	        <div class="alert-box alert-info">
	            <p>Your profile will be validated by a moderator before it can be seen by the public. An email will be sent to you when this has been done.</p>
	        </div>
	        {{/unless}}{{/ifEqualBlogger}}
	        <h3>About</h3>
	        <p itemprop="description">{{blogger.bio}}</p>
	        <div>
	            {{#if blogger.githubProfile}}
	            <a class="button" href="http://github.com/{{blogger.githubProfile}}" itemprop="url">
	                <div class="button-bg"></div>
	                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 42 42" version="1.1">
	                    <use xlink:href="/images/defs.svg#icon-github"></use>
	                </svg>
	                <p>GitHub</p>
	            </a>
	            {{/if}}
	            {{#if blogger.twitterProfile}}
	            <a class="button" href="http://twitter.com/{{blogger.twitterProfile}}" itemprop="url">
	                <div class="button-bg"></div>
	                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 42 42" version="1.1">
	                    <use xlink:href="/images/defs.svg#icon-twitter"></use>
	                </svg>
	                <p>Twitter</p>
	            </a>
	            {{/if}}
	            {{#if blogger.linkedInProfile}}
	            <a class="button" href="http://linkedin.com/in/{{blogger.linkedInProfile}}" itemprop="url">
	                <div class="button-bg"></div>
	                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 42 42" version="1.1">
	                    <use xlink:href="/images/defs.svg#icon-linkedin"></use>
	                </svg>
	                <p>LinkedIn</p>
	            </a>
	            {{/if}}
	            {{#if blogger.cvUrl}}
	            <a class="button" href="{{blogger.cvUrl}}" itemprop="url">
	                <div class="button-bg"></div>
	                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 42 42" version="1.1">
	                    <use xlink:href="/images/defs.svg#icon-cv"></use>
	                </svg>
	                <p>CV</p>
	            </a>
	            {{/if}}
	        </div>
		</div>
		<div class="profile-body">
	        <h3>Blog posts</h3>

	        {{#if page.blogs}}
	        {{#each page.blogs}}
	        <article itemscope itemtype="http://schema.org/BlogPosting">
	            <h4 itemprop="headline"><a href="{{link}}">{{title}}</a></h4>
	            <p class="article-date" itemprop="datePublished">{{formatDateLong pubDate}}</p>
	            {{#if imageUrl}}<img itemprop="image" src="{{imageUrl}}" alt="Featured Image"/>{{/if}}
	            <p itemprop="articleBody">{{{truncateAndRemoveHTML summary 400}}} <a class="read-more" itemprop="url" href="{{link}}">Read more &#8594;</a></p>
	            {{#unless @last}}<hr/>{{/unless}}
	        </article>
	        {{/each}}
	        {{else}}
	        <p>Blog posts will appear here on the next sync if there are any to view.</p>
	        {{/if}}

	        <div id="nav-pages">
	            {{#if page.hasLess}}
	            <a id="newer" class="page-btn" href="{{url}}page={{add page.pageNumber -1}}">
	                <svg viewbox="0 0 37.62 67.32">
	                    <use xlink:href="/images/defs.svg#left-arrow"></use>
	                </svg>
	                <p>Newer</p>
	            </a>
	            {{/if}}
	            {{#if page.hasMore}}
	            <a id="older" class="page-btn" href="{{url}}page={{add page.pageNumber 1}}">
	                <p>Older</p>
	                <svg viewbox="0 0 37.62 67.32">
	                    <use xlink:href="/images/defs.svg#right-arrow"></use>
	                </svg>
	            </a>
	            {{/if}}
	        </div>
		</div>
    </div>
</div>
