{{#section 'css'}}
<link rel="stylesheet" href="/style/css/profile.css">
{{/section}}

<div class="avatar" style="background-image: url('{{avatarUrl}}');"></div>

<p>first Name: {{user.firstName}}</p>
<p>last Name: {{user.lastName}}</p>
<p>email Address: {{user.emailAddress}}</p>
<p>feed URL: {{user.feedUrl}}</p>
<p>blog URL: {{user.blogWebsiteUrl}}</p>
<p>website URL: {{user.webisteUrl}}</p>
<p>cv URL: {{user.cvUrl}}</p>
<p>github URL: {{user.githubProfile}}</p>
<p>twitter URL: {{user.twitterProfile}}</p>
<p>linkedIn URL: {{user.linkedInProfile}}</p>
<p>bio: {{user.bio}}</p>
<p>validated: {{user.validated}}</p>
<p>vanityUrl: {{user.vanityUrl}}</p>
